.text,
.roundButtonLeftTop:hover {
  transition: fill 0.3s ease-out;
}
.text:hover {
  fill: var(--clr_primary);
  transform: scale(0.9);
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#overlay > g {
  opacity: 0;
  animation: dropIn 8s calc(var(--order) * 200ms) ease forwards infinite,
    fadeOut 0s 8s forwards infinite;
}
#skeleton {
  animation: fadeInDown 1s;
}

#buttonOverlay,
#heart1,
#heart2,
#heart3,
#heart4 {
  fill: var(--clr_secondary);
}
.svgContainer {
  width: 75%;
  height: 100%;
  transform: skewX(10deg);
}
.roundButtonLeftTop:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transform-box: fill-box;
  fill: var(--clr_primary);
}
/*
    ACCESIBILITY STYLES
    */
@media (prefers-reduced-motion: no-preference) {
  @keyframes dropIn {
    20% {
      opacity: 0;
      transform: translateY(20%);
    }
    30%,
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
/* BREAKPOINTS */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
