.headerlist {
  list-style-type: none;
  font-size: x-large;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content;
  column-gap: 20px;
  padding: 0px 20px;
  font-weight: bold;
    align-items: center;
}

.headerlist li,
image {
  cursor: pointer;
}

.iconwrapper {
  height: var(--icon_size_xxxlarge);
}
