/* DEFAULT STYLES (small-medium mobile phones, 600px and down) */

:root {
  /*
  COLOR STYLES
  if needed add borders and subvariants like below
  for border :         --borger_on_cssvarnamehere (e.g. --border_on_clr_primary)
  for subvariants :    --cssvarnamehere_hover / _active / _disabled (e.g. --clr_primary_hover)

  */

  --clr_primary: #66c0d3;
  --clr_secondary: #1a0830;
  --clr_tertiary: #ece5c7;

  --clr_quartinary: #cdc2ae;

  --clr_hyperlink: rgb(41, 188, 236);
  --clr_status_alert: red;
  --clr_status_notification: green;
  --clr_status_warning: darkorange;
  --clr_status_ok: lightgreen;
  --clr_status_info: lightgrey;
  --clr_status_alert_critical: rgb(250, 0, 0);

  /*
  BORDER STYLES
  */
  --border_radius_small: 0.13rem;
  --border_radius_medium: 0.3px;
  --border_radius_large: 0.625rem;
  --border_radius_xlarge: 1.25rem;

  /*
  FONT STYLES
  */
  --font_family_header: play;
  --font_family_body: roboto;
  --font_family_subheader: play;

  /*
  ICON STYLES
  */
  --icon_size_xsmall: 0.13rem;
  --icon_size_small: 0.313rem;
  --icon_size_default: 1rem;
  --icon_size_large: 1.5rem;
  --icon_size_xlarge: 2.25rem;
  --icon_size_xxlarge: 4rem;
  --icon_size_xxxlarge: 5.938rem;

  /*ANIMATION REFERENCES*/
  --animation_type: typing;
  --animation_blink: blink;
  --animation_wave: wave 2.5s;
  --animation: animation;
  --animation_spin: spin infinite 5s linear;
}
/*
  ACCESIBILITY STYLES
  */
@media (prefers-color-scheme: dark) {
  /*set variable colors differntly for dark users*/
}
/* if no preference for reduced motion, enable animation classes*/

@media (prefers-reduced-motion: no-preference) {
  @keyframes animation {
    from {
      border-bottom-color: rgba(var(--c), 0);
    }
    50% {
      border-bottom-color: rgba(var(--c), 0.5);
    }
    to {
      border-bottom-color: rgba(var(--c), 0);
    }
  }
  @keyframes typing {
    from {
      width: var(--animation_typing_startCharPosition, 0);
    }
  }

  @keyframes blink {
    50% {
      border-color: var(--animation_blink_initialBorderColor, transparent);
      border-right: var(--animation_blink_border, 3px solid);
    }
  }
  /* Animations*/
  @keyframes spin {
    from {
      transform: rotate(var(--animation_spin_from, 0deg));
    }
    to {
      transform: rotate(var(--animation_spin_to, 360deg));
    }
  }
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
}

@font-face {
  font-family: "play";
  src: url("./Common/Fonts/MainFont/Rancho-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    204deg,
    rgba(102, 192, 211, 1) 0%,
    rgba(26, 8, 48, 1) 100%
  );
  color: var(--clr_secondary);
  overflow: hidden;
}
