:root {
  /*Background styles*/
  --clr_primary: #9ab8ba;
  --background_clr_primary_hover: purple;
  --background_clr_primary_active: purple;
  --background_clr_primary_disabled: purple;

  --clr_secondary: #045256;
  --background_clr_secondary_hover: purple;
  --background_clr_secondary_active: purple;
  --background_clr_secondary_disabled: purple;

  --clr_tertiary: #ddf7f8;
  --background_clr_tertiary_hover: purple;
  --background_clr_tertiary_active: purple;
  --background_clr_tertiary_disabled: purple;

  /*Border styles*/
  --border_clr_on_primary: lavender;
  --border_clr_on_secondary: firebrick;
  --border_clr_on_tertiary: beige;
  --border_clr_on_quartinary: lightblue;
  --border_radius_small: 2px;
  --border_radius_medium: 4px;
  --border_radius_large: 10px;
  --border_radius_xlarge: 20px;

  /*Font styles*/
  --font_clr_on_primary: var(--clr_secondary);
  --font_clr_on_secondary: var(--clr-primary);
  --font_clr_on_tertiary: #0b1516;
  --font_clr_on_disabled: var(--clr_effect_transparency_default);

  /*Icon styles*/
  --icon_size_xsmall: 2px;
  --icon_size_small: 5px;
  --icon_size_default: 16px;
  --icon_size_large: 24px;
  --icon_size_xlarge: 36px;
  --icon_size_xxlarge: 64px;
  --icon_size_xxxlarge: 95px;

  /*Status styles*/
  --status_alert_clr: red;
  --status_notification_clr: green;
  --status_warning_clr: darkorange;
  --status_ok_clr: lightgreen;
  --status_info_clr: lightgrey;
  --status_alert_critical_clr: rgb(250, 0, 0);

  /*effect styles*/
  --clr_effect_transparency_minor: rgba(228, 228, 228, 0.767);
  --clr_effect_transparency_default: rgba(228, 228, 228, 0.514);
  --clr_effect_transparency_major: rgba(228, 228, 228, 0.11);

  /*preffered color schemes*/
  @media (prefers-color-scheme: dark) {
    /*set variable colors differntly for dark users*/
  }
  @media (prefers-reduced-motion: no-preference) {
    .spin {
      animation: spin-360 infinite 3s linear;
    }
    .spin-slow {
      animation: spin-360 infinite 20s linear;
    }
    .spin-quick {
      animation: spin-360 infinite 1s linear;
    }
    .wave {
      animation: wave infinite 2.5s
    }
  }
  /*breakpoints*/
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  }

  /* Animations*/
  @keyframes spin-360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes wave {
    from {
      transform: rotate(-40deg);
    }
    to {
      transform: rotate(40deg);
    }
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--clr_primary);
  color: var(--font_clr_on_primary);
}
