/* DEFAULT STYLES (small-medium mobile phones, 600px and down) */


#fullmenu {
  display: grid;
  font-family: var(--font_family_header);
  grid-template-columns: 1fr 9fr;
  align-items: center;
  justify-items: center;
}
main {
  padding: 16px;
}

.nav_menu,.nav_hamburger,
.nav_logo {
  text-decoration: none;
  color: var(--clr_secondary)
}
.nav_logo {
  padding-left:1rem;
  font-size: 3rem;
}
.nav_menu {
  display: none;
}

.pagewrapper {
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
  overflow: auto;
}

/* BREAKPOINTS */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav_logo {
    font-size: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav_logo {
    font-size: 7rem;
  }
}