.sectionContainerPrompt,
.sectionContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  scroll-snap-align: start;
  align-content: center;
  justify-items: center;
}

.sectionContainerPrompt {
  grid-template-columns: 1fr;
  justify-items: center;
}
.carouselWrapper {
  overflow-y: scroll;
  height: calc(100vh - 50px - 32px);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
.carouselWrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollButton {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
}
.scrollButton:hover {
  background: darkgray;
}
